{{! Previous/next page links - only displayed on page 2+ }}
{{!--<div class="extra-pagination inner">--}}
{{!--    {{pagination}}--}}
{{!--</div>--}}
<div id="main">
	{{#foreach posts}}
		<article class="{{post_class}}">
			<header>
				<div class="title">
					<h2><a href="{{url}}">{{{title}}}</a></h2>
					{{!--<p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>--}}
				</div>
				<div class="meta">
					<time class="published" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time>
					
					<a href="#" class="author"><span class="name">{{author.name}}</span><img src="{{author.image}}" alt="" /></a>
					{{!--{{tags prefix=" on "}}--}}
				</div>
			</header>
			{{#if image}}
			<a href="{{url}}" class="image featured"><img src="{{image}}" alt="" /></a>
			{{/if}}
			<p>{{excerpt words="26"}}</p>
			<footer>
				<ul class="actions">
					<li><a href="{{url}}" class="button big">Continue Reading</a></li>
				</ul>
				<ul class="stats">
					<li><a href="#">General</a></li>
					<li><a href="#" class="icon fa-heart">28</a></li>
					<li><a href="#" class="icon fa-comment">128</a></li>
				</ul>
			</footer>
			
		</article>
	{{/foreach}}
</div>